@import './src/styles/variables';
@import './src/styles/mixins';

.remoteContacts {
  min-height: 50vh;

  background: $bgSecondColor;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(rgb(3, 23, 47), rgb(23, 23, 23));

  .remote {
    @include container();
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 20vh;


  }


}



