@import './src/styles/variables';
@import './src/styles/mixins';
.projects {
  min-height: 100vh;
  padding: 50px;
  background: linear-gradient(rgb(23, 23, 23), rgb(3, 23, 47) );

  h2 {
    font-size: 3rem;
    color: #61dafb;
  }

  .projectsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    @include container();

    .projectsRow {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;


    }
  }
}





