@mixin container() {
  width: 80%;
  margin: 0 auto;
}
@mixin text($fontFamily, $size, $weight) {
  font-family: $fontFamily;
  font-size: $size;
  font-weight: $weight;
}
@mixin bg($bg){
  background-image: url(('../../assets/'+$bg));
  background-repeat: no-repeat;
  background-size:100% 100% ;
}