@mixin container() {
  width: 80%;
  margin: 0 auto;
}
@mixin text($fontFamily, $fontSize, $lineHeight, $fontWeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}
@mixin bg($bg){
  background-image: url(('../../assets/'+$bg));
  background-repeat: no-repeat;
  background-size:100% 100% ;
}