@import './src/styles/variables';
@import './src/styles/mixins';
.skills {
  min-height: 100vh;
  padding: 50px;
  background-image: url("../../assets/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-size: 4rem;
    color: #61dafb;
  }

  .skillsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .skillsRow {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
        .skillElement {
            align-items: center;
            color: #fff;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            margin: 30px 5px 0;
            text-align: center;
            width: 280px;

            .skillIcon {
                width: 4rem;
                height: 4rem;
                background-size: cover;
            }
        }
    }

  }
}



