@import './src/styles/variables';
@import './src/styles/mixins';
.skills {
  min-height: 100vh;
  padding: 50px;
  background: linear-gradient(rgb(0, 0, 0), rgb(23, 23, 23));


  h2 {
    font-size: 4rem;
    color: #61dafb;
  }

  .skillsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .skillsRow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

        .skillElement {
            align-items: center;
            color: #fff;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            margin: 30px 5px 0;
            text-align: center;
            width: 280px;
          span{
            //text-align:
          }
          @media screen and (max-width: 725px){
            width: 120px;
          }
            .skillIcon {
                width: 4rem;
                height: 4rem;
                background-size: cover;

            }
        }
    }

  }
}



