@import './src/styles/variables';
.footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    background:  rgb(23, 23, 23);
    color: $lightSecondColor;
    min-height: 20vh;
    padding: 20px 0;
    h4{
        margin: auto;
    }
}

.linksBlock{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .link {
        opacity: .8;
        margin: 0 2rem;
        width: 3rem;
        img{
            width: 100%;
        }

    }
    .link:hover{
        opacity: 1;
    }
}




.copywriting{

}