@import './styles/variables';

.App {
  overflow: hidden;
  cursor: default;
  position: relative;
  z-index: 1;
  font-family: $textFont;

  > div {
    display: flex;
    flex-direction: column;

    > h2 {
      color: white;
      font-family: $titleFont;
      margin: 0 auto;
    }

    > div > h2 {
      color: white;
      margin: 0 auto;
      font-family: $titleFont;
    }

  }
}