@import './styles/variables';

.App {
  overflow: hidden;
  cursor: default;
  position: relative;
  z-index: 1;
  font-family: $textFont;
  > div {
    display: flex;
    flex-direction: column;
   > h2{
      color: white;
      margin: auto;
      font-family: $titleFont;
    }
    >div>h2{
      color: white;
      margin: auto;
      font-family: $titleFont;
    }

  }
}