@import './src/styles/variables';
@import './src/styles/mixins';

.contacts {
  display: flex;
  min-height: 50vh;
  flex-direction: column;


  .sendForm {
    @include container();
      max-width: 540px;
      margin-top: 60px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 560px){

      max-width:300px ;
    }
    input,textarea {
      color:white;
      padding: 0.7rem 0.7rem 0.3rem 0.7rem;
      margin-bottom: 20px;
      background: $bgSecondColor;
      border-radius: 30px;
      border: none;
      border-bottom: 1px solid #4a4a4a;
      box-sizing: border-box;
      outline: none;
      resize: none;
      cursor: default;
      background: transparent;
      font-family:inherit;
      &::placeholder{
        color: white;
      }
      &:focus{
        border-bottom: 1px solid white;
        transition: all .4s;
      }
    }
    textarea {
      border-top: 1px solid #4a4a4a;
      &:focus{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        transition: all .4s;
      }
    }

  }
}
