@import './src/styles/variables';
@import './src/styles/mixins';

.contacts {
  display: flex;
  min-height: 50vh;
  flex-direction: column;


  .sendForm {
    @include container();
      max-width: 540px;
      margin-top: 60px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 560px){

      max-width:300px ;
    }
    input,textarea {
      color:white;
      padding: 1rem;
      margin-bottom: 20px;
      background: $bgSecondColor;
      border-radius: 30px;
      border: 3px solid #4a4a4a;
      box-sizing: border-box;
      outline: none;
      resize: none;
      cursor: default;
      &::placeholder{
        color: white;
      }
      &:focus{
        border: 3px solid white;
        transition: all .3s;
      }
    }

  }
}
